<h1>¡Agrega un producto!</h1><br>

<form id="addForm">
    <div class="form-group">
        <label for="formGroup">Nombre del producto</label>
        <input type="text" name="title" id="title">
    </div><br>
    <div class="form-group">
        <label for="formGroup">Descripción del producto</label>
        <input type="text" name="description" id="description"><br>
    </div><br>
    <div class="form-group">
        <label for="formGroup">Precio del producto</label>
        <input type="text" name="price" id="price"><br>
    </div><br>
    <div class="form-group">
        <label for="formGroup">Foto del producto</label>
        <input type="text" name="thumbnail" id="thumbnail"><br>
    </div><br>
    <div class="form-group">
        <label for="formGroup">Stock</label>
        <input type="text" name="stock" id="stock"><br>
    </div><br>
    <div class="form-group">
        <label for="formGroup">Categoria</label>
        <input type="text" name="category" id="category"><br>
    </div><br>
    <button type="submit">Cargar producto</button>
</form>

<script src="/js/home.js"></script>